
.center {
  text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
img {
    display: inline;
    width: 200px;
    height: 100px;
}
#footer {
    width: 100%;
    border-top: solid 2px black;
    background-color:black;
    position: fixed;
    bottom: 0;
}

body {
    text-align: center;
    background-image: url('matrix-code.jpg');
    color: black
}

.app-area {
    background-color: black;
}

.h1 {
    font-family: 'Oswald', sans-serif;
    color:lime;
}
.guess {
    font-family: 'Oswald', sans-serif;
    display: inline;
    font-size: 60px;
    border: 1px solid black; 
    padding: 0 25px;
    border-radius: 10%;
    background-color: lime;
    
};



#app {
    width: 60%;
    margin: 50px auto;
    background-color: rgba(256,256,256,0.5);
}



#footer-bg {
    color:black
}

.font-fix {
    
    font-size: 40px;

    
    
}